<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Antica pizza</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Antica pizza ", "Index", "Menu", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Menù", "Index", "Menu", new { area = "" }, new { @class = "nav-link  text-white" })</li>
                    @if (Session["UserID"] != null || Session["AdminID"] != null)
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "nav-link  text-white" })</li>

                        if (Session["UserID"] != null)
                        {
                            <li>@Html.ActionLink("Ordini in corso", "TuoiOrdini", "User", new { area = "" }, new { @class = "nav-link  text-white" })</li>
                            <li>@Html.ActionLink("Ordini evasi", "Storico", "User", new { area = "" }, new { @class = "nav-link text-white" })</li>
                            <li>@Html.ActionLink("Carrello", "Index", "Carts", new { area = "" }, new { @class = "nav-link  text-white" })</li>
                        }

                        if (Session["AdminID"] != null)
                        {
                            <li>@Html.ActionLink("Ordini da evadere", "Index", "Admin", new { area = "" }, new { @class = "nav-link  text-white" })</li>
                            <li>@Html.ActionLink("Storico ordini", "Storico", "Admin", new { area = "" }, new { @class = "nav-link  text-white" })</li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Accedi", "Index", "Login", new { area = "" }, new { @class = "nav-link  text-white" })</li>
                    }

                </ul>
                @if (Session["UserID"] != null || Session["AdminID"] != null)
                {
                    var nome = Session["Username"] as string;
                    <p class="text-white">Benvenuto @nome <span class="indirizzoConsegna bg-white text-black"></span></p>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Antica Pizza</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
